body {background-color: gray;}

  .jumbotron {
    background-image: url("../images/biodiversity.png");
    background-size: 100% 100%;
    text-align: center;
    color: red;
    font-family: "Papyrus", Fantasy;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
  }

  .about {
      color: white;
  }

  .bar {
      color: white;
  }

  .gauge {
    color: white;
    }

  .bubble {
    color: white;
    }

  .well {
    background-color: orange;
    color: black;
  }
